{{link-to 'Back' 'index'}}
<h1>Login</h1>

<form {{action 'authenticate' on='submit'}}>
  {{input value=fields.email type="email" placeholder="Email address"}}
  {{input value=fields.password type="password" placeholder="Password"}}
  <button type="submit">Log In</button>
</form>
